#name-wrapper{
    display: -webkit-flex;
    display: flex;
}

#name-wrapper input[type="text"]{
    -webkit-flex-basis: auto;
    flex-basis: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #871377;
    border-radius: 4px 0 0 4px;
    color: #777;
}

#name-wrapper input[type="submit"]{
    -webkit-flex-basis: auto;
    flex-basis: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 10px;
    background: #871377;
    border-radius: 0 4px 4px 0;
    border: 2px solid #871377;
    color: #eee;
    text-transform: uppercase;
    cursor: pointer;
}