body{
    background: #eee;
    margin: 20px;
    font-family: tahoma, serif;
}

h1 {
    color: #1c1c1c;
}

#congrats {
    color: #ffa800;
    text-transform: uppercase;
}

#game-wrapper{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-top: 3px solid #871377;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    color: #333;
}

.board {
    display: flex;
    width: 300px;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.square {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 3px solid #1c1c1c;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #871377;
    color: #ffa800;
}

.square:hover {
    cursor: pointer;
    background-color: #ffa800;
    color: #871377;
}